body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

#starContainer {
    margin-top: 20px;
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
}

.star {
    color: gold;
}
