.header {
    text-align: center;
    margin-top: 20px;
}

.header h1 {
    color: green;
}

.header img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.container {
    display: flex;
}

.column-container {
    flex: 1;
    margin: 10px;
}

.box {
    border: 2px solid lightgreen; /* Add border around the box */
    padding: 10px;
    margin-bottom: 20px; /* Add margin between boxes */
}

.column input {
    margin-bottom: 10px;
}

.output {
    margin-top: 10px;
}

.wrap-lines {
    white-space: pre-wrap;
}

.column-title {
    color: green; /* Set the color of column titles to green */
}
